<section id="skills">
    <h3>SKILLS</h3>
    <div id="skills-container">
        <div>
            <h4>TECHNICAL SKILLS</h4>
            <div>
                <ul>
                    <li>CSS</li>
                    <li><progress max="100" value="70"></progress></li>
                    <li>HTML</li>
                    <li><progress max="100" value="80"></progress></li>
                    <li>JS</li>
                    <li><progress max="100" value="65"></progress></li>
                    <li>C</li>
                    <li><progress max="100" value="90"></progress></li>
                    <li>Python</li>
                    <li><progress max="100" value="75"></progress></li>
                    <li>C++</li>
                    <li><progress max="100" value="70"></progress></li>
                    <li>Java</li>
                    <li><progress max="100" value="80"></progress></li>
                    <li>SQL</li>
                    <li><progress max="100" value="60"></progress></li>
                </ul>
            </div>
        </div>
        <div>
            <h4>LANGUAGES</h4>
            <div>
                <ul>
                    <li>English</li>
                    <li><progress max="100" value="80"></progress></li>
                    <li>Hindi</li>
                    <li><progress max="100" value="80"></progress></li>
                    <li>Malyalam</li>
                    <li><progress max="100" value="60"></progress></li>
                    <li>Kannada</li>
                    <li><progress max="100" value="50"></progress></li>
                </ul>
            </div>
        </div>
    </div>
</section>