#portfolio {
    background: url('https://i1.faceprep.in/ProGrad/portfolio-background.svg');
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#portfolio,
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#portfolio div {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}

#portfolio h3,
p,
hr {
    margin-bottom: 20px;
}

#portfolio div article {
    background: white;
    color: black;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}

#portfolio div article p {
    padding: 0.5px;
}

#skills-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}