<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <p>Some of my best proects so far</p>
    <hr>
    <div>
        <article>
            <IMG src="https://i1.faceprep.in/ProGrad/Coding-icon.svg"></IMG>
            <h4>PERSONAL BLOG</h4>
            <p>A blog where I pen my thoughts about programming.</p>
        </article>
        <article>
            <IMG src="https://i1.faceprep.in/ProGrad/Coding-icon.svg"></IMG>
            <h4>FAKE NEWS DETECTION WEBAPP</h4>
            <p>Employing machine learning and nlp techniques to flag fake news</p>
        </article>
        <article>
            <IMG src="https://i1.faceprep.in/ProGrad/Coding-icon.svg"></IMG>
            <h4>BEHANCE PORTFOLIO</h4>
            <p>All my app and website redesigns in one place.</p>
        </article>
    </div>
    </section>