<section id="bio">
    <article>
        <h2>ProGrad-51</h2>
        <p>Hi! I'm Vishnu and I'm a computer engineering student.
            My interests include web development, UX/UI, data science and technical writing.
            <span class="break"></span>
            This is my portfolio and it gives you a bird's eye-view of what I bring to the table!
            <span class="break"></span>
            Feel free to get in touch!
        </p>
        <a href="#" class="link-button">Download My Resume</a>
    </article>
</section>