
#home {
    background: black;
    color: white;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio {
    display: flex;
    align-items: center;
}

header div p {
    font-size: 40px;
    font-weight: 200;
}

#bio {
    display: flex;
    align-items: center;
}

#bio img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 100px;
}

#bio article * {
    margin: 20px;
}

.break {
    display: block;
}

#bio p {
    font-size: 1.5em;
}

hr {
    width: 400px;
}
