<nav>
    <ul>
        <li class="logo-text">ProGrad</li>
        <li>
            <ul>
                <li #home><a href="" class="nav-link">HOME</a></li>
                <li #bio><a href="" class="nav-link">BIO</a></li>
                <li #portfolio><a href="" class="nav-link">PORTFOLIO</a></li>
                <li #skills><a href="" class="nav-link">SKILLS</a></li>
                <li #contact><a href="" class="nav-link link-button">CONTACT</a></li>
            </ul>
        </li>
    </ul>
</nav>